@model Vidly.ViewModels.MoviesViewModel
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@if (@Model.Movies.Count > 0)
{
    <table class="table table-bordered table-hover" style="font-size:large">
        <thead>
            <tr>
                <th>
                    Movie
                </th>
            </tr>
        </thead>
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td>
                    @*@movie.Name*@
                    @Html.ActionLink(movie.Name,"Details","Movies",new { id=movie.ID},null)
                </td>
            </tr>
        }

    </table>
}
else
{
    <text>We don't have any movies yet.</text>
}